html{
 scroll-behavior: smooth;
}
body{
    background-color: rgba(0, 0, 0, 0.705);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.m-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navigation-link{
    border: 2px solid transparent;
}
.navigation-link:hover{
    text-decoration:none ;
    border-bottom: 3px solid navajowhite;
    transition: 0.5s ease;
}
.text-white{
   color: white;
}
.main-container{
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("web .jpg");
    background-attachment: fixed;
    background-size: cover;
}
.main_row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_row h1 {
    font-size: 5rem;

}
.main_row img {
    width: auto;
    height: 100vh;
}
html {
    scroll-behavior: smooth;
}

body {
    background: #252525;
    font-family: "Baloo Tamma 2", cursive;
}

#socialmedia{
    background-color: rgba(0, 0, 0, 0.758);
}
.media_link{
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px solid rgba(255, 255, 0, 0.539);
    border-radius: 0.5rem;
}